{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block content %}
<!-- Responsive Desktop/Mobile Login form considered to be used as mobile first approach--> 
<!-- Wave animation credit: https://codepen.io/goodkatz -->

<div class="header">

<!--Content before waves-->
<div class="inner-header flex">
<!--Just the logo.. Don't mind this-->

<h3>Login</h3>
</div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
{% if messages %}
    {% for message in messages %}
    <div class = 'alert alert-info'>
      {{ message }}
    </div>
    
    {% endfor %}
{% endif %}
<div class="content flex">
  <form method="POST">
    <input type="email" name = 'email' placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"/>
    <input type="password" name = 'password' placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"/>
    <button class="login-btn">Login</button>
  </form>
  <div class="bottom-container">
    <p>Not registered with us?</p><a href="{% url 'sign-up' %}">Sign Up!</a>
    <div>
    
<!--Content ends-->

{% endblock %}